extends layout

block content
  h1.h1 404
  h2.h2 Page Not Found 
  img.img(src="https://imgs.xkcd.com/comics/good_code.png", alt="xkcd")
  h3.h3
   a.opposite(href="https://shivanshguleria.ml/") Go Back
   | >
