extends layout

block content
  ul 
   li 
    p Hosting Provider 
    ul 
     li 
      p 
       a(href="https://github.com") Github 
     li 
      p   
       a(href="https://fly.io/") Fly 
   li 
    p DNS 
     ul 
      li 
       p 
        a(href="https://cloudfare.com") Cloudfare 
   li 
    p Domain Registrar 
     ul 
      li 
       p  
        a(href="https://www.freenom.com/") Freenom 
   li.about-li 
    a(href="http://h.shivanshguleria.ml/") Help 
   li.about-li 
    a(href="/files") Files
  <hr color="white"> 
  span.down 
   a(href="./") Home 
   br
   <a href="https://github.com/ShivanshGuleria/shivanshguleria.ml"><img class="footer-links" src="../icon-svg/Branch.svg" alt="branch-svg"></a>
    
