extends layout

block content
  h1 Shivansh 
   strong.surname Guleria
  table 
   tr 
    td 
     a(href="https://www.linkedin.com/in/shivanshguleria") 
      img.svg(src="../icon-svg/linkedin.svg", alt="linkedin")
    td 
     a(href="https://github.com/ShivanshGuleria")
      img.svg(src="../icon-svg/github.svg", alt="Github") 
  h3 Computer Science & Engineering student at <a class="opposite" href="https://www.srmist.edu.in/"><em>SRMIST</em></a> Chennai
  p Hi! 
  p I am Shivansh Guleria, I am from Mandi, Himachal Pradesh. Currently in second year of Engineering in CS. I am very much interested in Blockchain, AI/Ml.<br> Apart from this I am geek in finance, economics, cryptocurrency. During my free time i like to watch anime, go for a walk.
  h2 Skills
  ul  
   li 
    p Programming Languages & Tools
     ul 
      li 
       p <strong>Language</strong>- C/C++, Python
      li 
       p <strong>Web</strong>- HTML5, CSS, JavaScript, Wordpress
      li 
       p <strong>Database</strong>- MySQL
      li 
       p <strong>Systems</strong>- Linux, Windows
      li  
       p <strong>Other</strong>- Git, Bash
   li 
    p Spoken Languages
     ul 
      li 
       p English- Working Proficiency
       p Hindi- Working Proficiency
  br
  h2 Experience 
  ul
   li 
    p  <a class="opposite" href="https://srmiec.com/">SRM Indian Energy Conference</a>
     ul 
      p AUG 2022-Present
     ul  
   li 
    p ARL (Aakash Research Lab)
     ul 
      p July 2022-Present
  br
  h2 Projects 
  ul 
   li 
    a(href="https://github.com/ShivanshGuleria/Get-It-Quick") 
     p Get-It-Quick 
    p Recommends jobs on basis of resume
  br
  <hr color="white">
  br
  center 
    <a href="mailto:contact@shivanshguleria.ml">Email</a>&nbsp;|&nbsp;
    <a href="/resume">Resume</a>&nbsp;|&nbsp;
    <a href="/about">About</a>&nbsp; 
  a.hidden(href="/sitemap") Sitemap 
  br
  a.hidden(href="/#") &copy;Shivansh Guleria
     
          