extends layout 
block content 
    ul 
      li 
        p Learn Javascript 
          a(href="https://scrimba.com/learn/learnjavascript") [Link]
        ul 
          li 
            p Yarn Counter App
              a(href="/jsprojects/counterapp") [Link] 
