doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/styles.css')
    meta(charset = "UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    script(async src="https://www.googletagmanager.com/gtag/js?id=G-7XZH1GJPP4") 
    <script>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', 'G-7XZH1GJPP4');</script>
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="keywords" content="shivansh guleria, Shivansh Guleria, shivanshguleria.ml")
    meta(name="description" content="Computer Science and Engineering student at SRMIST, Kattankulathur")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,500;0,600;0,700;1,500&display=swap" rel="stylesheet")
    link(id="page_favicon" href="../favicon.ico" rel="icon" type="image/x-icon")
  body
    block content
    
