extends layout

block content
 div.size Making the Web Beautifull!!
 div.box-theme-color #2DBE94
 div.box-font-color  #1e1e1e
 div.box-color  #f7f8f9 
 div.box-surname #aaaaaa
 div.box-theme-color #185D49
  
   
  
