extends layout

block content
  .container.my-5
    .p-5.mb-4.bg-body-tertiary.rounded-3
      .d-flex.align-items-center.justify-content-center
        .w-50
          form(action="/upload" method="post") 
            .mb-3 
              label.form-label( for="title") Title
              input.form-control(type="text" id="title" name="title" required) 
              label.form-label( for="cauthor") Author
              input.form-control(type="text" id= "cauthor" name="cauthor" required) 
              label.form-label( for="size") Size
              input.form-control(type="number" id="size" step="0.01" min="0" max="100" name="size" required)
              label.form-label( for="pages") Pages
              input.form-control(type="number" id="pages" name="pages" required)             
            button.btn.btn-primary(type="submit") Submit
              