
/*Specify variables*/
:root {
     --main-bg-color: #161616;
     --main-font-color: #f7f8f9;
     --main-theme-color: #2DBE94;
     --surname-color: #aaaaaa;
     --bs-body-bg: #161616 !important;   
     --bs-body-color: #f7f8f9 !important;                   /*for /files*/
}

/*For whole site*/
* {
     margin: 20;
     padding: 30;
   }

/*CSS selectors for diffrent element*/
body{
     background-color: var(--main-bg-color);
     font-family: 'JetBrains Mono', monospace;
     color: var(--main-font-color);
}

p {
     text-align: justify;
}

a{
     color: var(--main-theme-color);
     background-color: transparent;
     text-decoration: none;
}

a:hover {
     color: var(--main-font-color);
     background-color: transparent;
     text-decoration: none;
   }

a.opposite:hover{
     color: var(--main-theme-color);
     background-color: transparent;
     text-decoration: none;
 }
 
h1{
     font-size: 60px;
}

h3{
     font-size: 20px;
}

h2{
     font-size: 35px;
}

/*Classes*/
.half-width{
     width:50%;
     margin: 0 auto;
     color: var(--main-font-color);
   }

.opposite{
     color: var(--main-font-color);
     background-color: transparent;
     text-decoration: none;
}

.icon{
     width:10px;
     position: relative;
     top: 0px;
     left: 800px;  /*950*/
}

.hide{
     list-style-type: none;
     padding: 0;
    
}
.extra{
     margin: 2;
     padding: 1;
}

.down{
     margin: 15px;
   }

.svg{
     height: 50px;
     width: 50px;
   }

::selection {
     background: var(--main-theme-color);
     color: var(--main-bg-color);
   }


.hidden{
     color: var(--main-bg-color);
   }
   
.about-li {
     padding: 5px;
}

.footer-links {
     padding: 10px;
     margin-left: -10px;
}

.surname {
     color: var(--surname-color);
}
   
   /*#1a7b5f #239273*/

/* CSS for 404*/

.img {
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 290px;
}

.h1 {
     font-size: 90px;
     text-align: center;
     margin: 0%;
}

.h2 {
     font-size: 40px;
     text-align: center;
     margin: 1%;
}

.h3 {
     font-size: 20px;
     text-align: center;
     margin: 2%;
}

/*Style for test*/
.size {
     font-size: 48px;
}

.box-theme-color {
     width: 100px;
     padding: 20px;
     margin: 20px;
     background-color: var(--main-theme-color);
}

.box-font-color {
     width: 100px;
     padding: 20px;
     margin: 20px;
     background-color: var(--main-font-color);
     color: var(--main-bg-color);
}

.box-color {
     width: 100px;
     padding: 20px;
     margin: 20px;
     background-color: var(--main-bg-color);
     color: var(--main-font-color);
     border: 2px solid var(--main-font-color);
}

.box-surname {
     width: 100px;
     padding: 20px;
     margin: 20px;
     background-color: var(--surname-color);
     color: var(--main-bg-color);
}

/* Style for files*/


.bg-body-tertiary {
  --bs-bg-opacity: 0 !important;
}

.btn-primary {
     --bs-btn-bg: #185D49 !important;
     --bs-btn-border-color: #185D49 !important;
     --bs-btn-hover-bg: ##185D49 !important;
     --bs-btn-hover-border-color: #185D49 !important;
     --bs-btn-focus-shadow-rgb: #185D49 !important;
     --bs-btn-active-bg: #185D49 !important;
     --bs-btn-active-border-color: #185D49 !important;
     --bs-btn-disabled-bg: #185D49 !important;
     --bs-btn-disabled-border-color: #185D49 !important;
}