
/*Specify variables*/
:root {
     --main-bg-color: #1e1e1e;
     --main-font-color: #f7f8f9;
     --main-theme-color: #2DBE94;
     
}

/*For whole site*/
* {
     margin: 20;
     padding: 30;
   }

/*CSS selectors for diffrent element*/
body{
     background-color: var(--main-bg-color);
     font-family: 'JetBrains Mono', monospace;
     color: var(--main-font-color);
}

p {
     text-align: justify;
}

a{
     color: var(--main-theme-color);
     background-color: transparent;
     text-decoration: none;
}

a:hover {
     color: var(--main-font-color);
     background-color: transparent;
     text-decoration: none;
   }

a.opposite:hover{
     color: var(--main-theme-color);
     background-color: transparent;
     text-decoration: none;
 }
 
h1{
     font-size: 60px;
}

h3{
     font-size: 20px;
}

h2{
     font-size: 35px;
}

/*Classes*/
.half-width{
     width:50%;
     margin: 0 auto;
     color: var(--main-font-color);
   }

.opposite{
     color: var(--main-font-color);
     background-color: transparent;
     text-decoration: none;
}

.icon{
     width:10px;
     position: relative;
     top: 0px;
     left: 800px;  /*950*/
}

.hide{
     list-style-type: none;
     padding: 0;
    
}
.extra{
     margin: 2;
     padding: 1;
}

.down{
     margin: 15px;
   }

.svg{
     height: 50px;
     width: 50px;
   }

::selection {
     background: var(--main-theme-color);
     color: var(--main-bg-color);
   }


.hidden{
     color: var(--main-bg-color);
   }
   
.about-li {
     padding: 5px;
}

.footer-links {
     padding: 10px;
     margin-left: -10px;
}
   
   /*#1a7b5f #239273*/