* {
     margin: 20;
     padding: 30;
   }


body{
     background-color: #1e1e1e;
     font-family: 'JetBrains Mono', monospace;
     color: #f7f8f9;
}

a.opposite{
     color: #EFFBF7;
     background-color: transparent;
     text-decoration: none;


}
a{
     color: #2DBE94;
     background-color: transparent;
     text-decoration: none;
}

a:hover {
     color: #EFFBF7;
     background-color: transparent;
     text-decoration: none;
   }
 a.opposite:hover{
     color: #2DBE94;
     background-color: transparent;
     text-decoration: none;
 }

/*div.icondg {
     display: block;
     margin-left: 20px ;
     margin-right: 40px;
     width: 50%;
   }
*/
h1{
     font-size: 50px;
}

h3{
     font-size: 20px;
}

h2{
     font-size: 35px;
}

td.icon{
     width:10px;
     
     
     position: relative;
     top: 0px;
     left: 800px;  /*950*/
}

ul.hide{
     list-style-type: none;
     
     padding: 0;
    
}
ul.extra{
     margin: 2;
     padding: 1;
}

li.down{
     
     margin: 15px;
   }

   @media screen and (max-device-width: 480px)
    {
     td.icon{
          display: none;
     }

    
   }

   @media screen and (min-device-width: 769px)
    {
     table.media-hide{
          display: none;
     }

    
   }